env/
.vscode/
*.jpg
*.png
*.db
*.webp
*__pycache__/
*migrations/
/main/migrations/
static_dev/*
Акбаров-15ИТ1-Пояснительная записка.docx
Отчет по практике.docx
полезные ссылки.txt
migrations_main.txt
secret_key.txt
