{% extends 'main/base_template.html' %}
{% load static %}
{% block title %}Личный кабинет - {{user.username}}{% endblock %}
{% block content %}
{% block myaccount %}
<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 howday">
                <div class="titlelt">
                    <h1>Личный кабинет</h1>
                    <hr>
                    <div class="acc-info">
                        <div class="address" >
                            <h2 style="color:lightskyblue"><i>Пользователь {{user.username}}</i></h2>
                            <ul class="nav ">
                                <li><a href="#"><img src="{% static 'img/Icon_User.jpg' %}" alt="">Детали</a></li>
                                <li><a href="#"><img src="{% static 'img/Icon_Add.jpg' %}" alt="">Адреса</a></li>
                                <li><a href=""><img src="{% static 'img/Icon_Listing.jpg' %}" alt="">Заказы</a></li>
                                <li><a href="#"><img src="{% static 'img/Icon_Upload.jpg' %}" alt="">Загрузки</a></li>
                            </ul>
                        </div>
                        <div class="login">
                            <ul class="nav ">
                                <li><a href="#"><img src="{% static 'img/Icon_Lock.jpg' %}" alt="Icon_User.jpg">Сменить пароль</a></li>
                                <li><a href="{% url 'logout' %}"><img src="{% static 'img/Icon_Off.jpg' %}" alt="Icon_User.jpg">Выйти</a></li>
                            </ul>
                        </div>
                    </div>  

                </div> 
            </div>
            <div class="col-md-8 col-sm-8 porfolio">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home">Постоянный адрес</a></li>
                    <li><a href="#menu1">Текущий адрес</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="form">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                            <label>Страна</label><br>
                                        <input type="text" name="country" placeholder="Беларусь" required class="country">
                                        </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Город/Область</label><br>
                                            <input type="text" name="city" placeholder="Минск" required class="city">
                                        </div>
                                </div>
                                <label>Улица</label>
                                <input type="text" name="city" placeholder="ул. Володарского, д.12, кв.107" required class="city">
                                    <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                            <label>ZIP</label><br>
                                        <input type="text" name="country" placeholder="231201" required class="zipcode">
                                        </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Телефон</label><br>
                                        <input type="text" name="city" placeholder="+375290000000" required class="phone">
                                        </div>
                                    </div>
                                <label class="mail">email</label><br>
                                <input type="text" name="city" placeholder="example@mail.com" required class="gmail">
                                <button class="change">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="form">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                            <label>Страна</label><br>
                                        <input type="text" name="country" placeholder="Беларусь" required class="country">
                                        </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Город/Область</label><br>
                                        <input type="text" name="city" placeholder="Минск" required class="city">
                                    </div>
                                </div>
                                <label>Улица</label>
                                <input type="text" name="city" placeholder="ул. Володарского, д.12, кв. 107" required class="city">
                                    <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                            <label>Почтовый индекс</label><br>
                                        <input type="text" name="country" placeholder="231201" required class="zipcode">
                                        </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Телефон</label><br>
                                        <input type="text" name="city" placeholder="+375290000000" required class="phone">
                                        </div>
                                    </div>
                                <label class="mail">email</label><br>
                                <input type="text" name="city" placeholder="example@mail.com" required class="gmail">
                                <button class="change">Сохранить изменения</button>
                            </form>
                        </div>
                </div>           
            </div>
        </div>
    </div>
</div>
{% endblock myaccount %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
        $('.nav-tabs a').on('shown.bs.tab', function(event){
            var x = $(event.target).text();         // active tab
            var y = $(event.relatedTarget).text();  // previous tab
            $(".act span").text(x);
            $(".prev span").text(y);
        });
    });
</script>
{% endblock scripts %}
       
{% endblock content %}