{% extends 'main/base.html' %}
{% load static %}
{% block links %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock links %}
{% block wrapp %}
{% block login %} 
<div class="container h-100">
    <br><br><br><br>
    <div id="login" class="tab-pane fade in active">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-4">
                <form method="post" class="form-customer form-register" action="">
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    <div class="form-group">
                        {{form.login.errors}}
                        <label for={{form.login.id_for_label}}>Login</label>
                        {{form.login}}
                    </div>
                    <div class="form-group">
                        {{form.password.errors}}
                        <label for={{form.password.id_for_label}}>Password</label>
                        {{form.password}}
                    </div>
                    <div class="flex justify-content-between mg-30">
                        <div class="checkbox">
                            <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" />
                            <input name="RememberMe" type="hidden" value="false" />
                            <label for="RememberMe">Запомнить меня</label>
                        </div>
                        <a href="" class="text-note no-mg">Забыли пароль?</a>
                    </div>
                    <div class="btn-button-group mg-top-30 mg-bottom-15">
                        <button type="submit" class="zoa-btn btn-login hover-white">Авторизоваться</button>
                    </div>
                </form>
                <span class="text-note">У вас еще нету аккаунта? <a href="{% url 'register' %}">Зарегистрироваться!</a></span>
            </div>
        </div>
    </div>
    
</div>{% endblock login %}
{% endblock wrapp %}