{% extends 'main/base.html' %}
{% load static %}
{% block wrapp %} 
<!-- push menu-->
    <div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="ion-ios-close-empty f-40"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform" action="/shoes">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="search" id="q" autocomplete="off">
                    <!-- <input type="hidden" name="type" value="product"> -->
                    <button type="submit" id="searchsubmit"><i class="ion-ios-search-strong"></i></button>
                </div>
            </form>
            <ul class="nav-home5 js-menubar">
                <li class="level1 active dropdown">
                    <a href="#">Категории</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        {% for category in categories %} 
                            <li class="level2"><a href="{% url 'product_list' %}?category={{category.slug}}" title="">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                
                <li class="level1">
                    <a href="#">Брэнды</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        {% for brand in brand %} 
                            <li class="level2"><a href="{% url 'product_list' %}?brand={{brand.slug}}" title="">{{brand.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="level1">
                    <a href="#">Blog</a>
                    <span class="icon-sub-menu"></span>
                    <ul class="menu-level1 js-open-menu">
                        <li class="level2"><a href="blog-standar.html" title="Blog Standar">Blog Standar</a></li>
                        <li class="level2"><a href="blog_grid.html" title="Blog Gird">Blog Gird</a></li>
                        <li class="level2"><a href="blog-standar.html" title="Blog Sidebar">Blog Sidebar</a></li>
                        <li class="level2"><a href="blog-single-post.html" title="Blog Single Post">Blog Single Post</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="mobile-account">
                <li><a href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i>Вход</a></li>
                <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i>Регистрация</a></li>
            </ul>
        </div>
    </div>
    <!-- end push menu-->


    <!-- Search form -->
    <div class="search-form-wrapper header-search-form">
        <div class="container">
            <div class="search-results-wrapper">
                <div class="btn-search-close">
                    <i class="ion-ios-close-empty"></i>
                </div>
            </div>
            <form method="get" action="/shoes" role="search" class="search-form  has-categories-select">
                <input name="search" class="search-input" type="text" value="" placeholder="Enter your keywords..." autocomplete="off">
                <button type="submit" id="search-btn"><i class="ion-ios-search-strong"></i></button>
            </form>
        </div>
    </div>
    <!-- End search form -->

    </div>
    <div class="wrappage">
        
        {% if message %} 
        <div class="info {{message.type}}">
            <p>{{message.text}}</p>
        </div>
        {% endif %}
        {% include 'main/header.html' %} <!-- /header -->
        {% block content %} {% endblock content %}
        {% include 'main/footer.html' %}
        
    </div>
    <a href="#" class="zoa-btn scroll_top"><i class="ion-ios-arrow-up"></i></a>
{% endblock wrapp %}