{% load static %}
<!-- Footer -->
<footer class="footer v1 bd-top">
    <div class="container">
        <div class="f-content">
            <div class="f-col">
                <div class="social">
                    <a href=""><i class="fa fa-rss"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                    <a href=""><i class="fa fa-rss"></i></a>
                </div>
            </div>
            <div class="f-col align-items-center">
                <p>© 2018 <a href="">Zoa.</a></p>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
            <div class="f-col">
                <a href=""><img src="{% static 'img/credit-card-icons.png' %}" alt="" class="img-responsive"></a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->