{% load static %}
<!-- Footer -->
<footer class="footer v1 bd-top">
    <div class="container">
        <div class="f-content">
            <div class="f-col">
                <div class="social">
                    <a href=""><i class="fa fa-rss"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <p>© 2021 Все права сохранены.</p>
        </div>
    </div>
</footer>
<!-- End Footer -->