{% extends 'main/home.html' %}
{% load static %}
{% load mainutils %}

{% block slide-content %}
        <!-- content -->
        <div class="slide v3">
            <div class="js-slider-v4">
                <div class="slide-img">
                    <img src="{% static 'img/zx-onsite-hp-mh-d_tcm205-536153.jpg' %}" alt="" class="img-responsive">
                    <div class="box-center content2">
                        <h3>Adidas Collection</h3>
                        <a href="" class="slide-btn">Shop Now</a>
                    </div>
                </div>
                <div class="slide-img">
                    <img src="{% static 'img/feel-the-future-hp-mh-d_tcm329-555715.jpg' %}" alt="" class="img-responsive">
                    <div class="box-center content1">
                        
                    </div>
                </div>
                
            </div>
           <div class="custom">
                <div class="pagingInfo"></div>
            </div>
        </div>
        <!-- End content -->
{% endblock slide-content %}

{% block trend-product %}  
    <div class="trend-product pad">
    <div class="container container-content">
        <div class="row first">
            <!-- TREND BRAND -->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="trend-img hover-images">
                    
                        <img class="img-responsive" src="{{topcategory.img}}" alt="">
                    
                    <div class="box-center align-items-end">
                        <h3 class="zoa-category-box-title">
                            <a href="#">{{topcategory.title}}</a>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="row engoc-row-equal">
                    {% for product in products %}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                        <div class="product-img">
                            {% if product.photo %}
                            <a href="{% url 'product_detail' product.id %}"><img src="{{ product.photo.url }}" alt="{{ product.photo.title}}" class="img-responsive"></a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}"><img src="{% static 'img/no-image.jpg' %}" class="img-responsive"></a>
                            {% endif %}
                            {% if product.sale %} 
                            <div class="ribbon zoa-sale"><span>-{{product.sale}}%</span></div>
                            {% endif %}
                            <div class="product-button-group">
                                <a href="#" class="zoa-btn zoa-quickview">
                            <span class="zoa-icon-quick-view"></span>
                        </a>
                                <a href="#" class="zoa-btn zoa-wishlist">
                            <span class="zoa-icon-heart"></span>
                        </a>
                                <a href="#" class="zoa-btn zoa-addcart">
                            <span class="zoa-icon-cart"></span>
                        </a>
                            </div>
                        </div>
                        <div class="product-info text-center">
                            <h3 class="product-title">
                                <a href="{% url 'product_detail' product.id %}">{{product.name}}</a>
                            </h3>
                            <div class="product-price">
                                {% if product.sale %}
                                <span class="old">${{product.price}}</span>
                                <span>${{ product.new_price }}</span>
                                {% else %}
                                <span>${{product.price}}</span>
                                {% endif %}
                                
                            </div>
                            <!-- <div class="color-group">
                                <a href="#" class="circle gray"></a>
                                <a href="#" class="circle yellow active"></a>
                                <a href="#" class="circle white"></a>
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock trend-product %}                    <!-- END BLOCK TREND-PRODUCT -->

{% block single-banner %}
<div class="single-banner">
    <div class="container container-content">
        <div class="banner-img hover-images">
            <img src="{% static 'img/home1/home-1-bg.png' %}" alt="" class="img-responsive">
        
            <div class="box-center">
                <div class="content">
                    <a class="text" href="">#spring collect</a>
                    <h2>-50%</h2>
                    <a href="#" class="zoa-btn btn-shopnow">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock single-banner %}

{% block container-info %}
<div class="container">
    <div class="policy pad bd-top">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3 policy-item">
                <div class="policy-icon"><img src="{% static 'img/policy/icon_1.png' %}" alt=""></div>
                <div class="policy-content">
                    <h3>Free shipping</h3>
                    <p>on all orders over $49.00</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 policy-item">
                <div class="policy-icon"><img src="{% static 'img/policy/icon_2.png' %}" alt=""></div>
                <div class="policy-content">
                    <h3>15 days returns</h3>
                    <p>moneyback guarantee</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 policy-item">
                <div class="policy-icon"><img src="{% static 'img/policy/icon_3.png' %}" alt=""></div>
                <div class="policy-content">
                    <h3>Secure checkout</h3>
                    <p>100% protected by Paypal</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 policy-item">
                <div class="policy-icon"><img src="{% static 'img/policy/icon_4.png' %}" alt=""></div>
                <div class="policy-content">
                    <h3>100% free warranty</h3>
                    <p>moneyback guarantee</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container-info %}

{% block newsletter %}
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="newsletter-heading">
                    <h3>get in touch</h3>
                    <p>Subscribe for latest stories and promotions (35% sale)</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12 flex-end">
                <form class="form_newsletter" action="#" method="post">
                    <input type="email" value="" placeholder="Enter your emaill" name="EMAIL" id="mail" class="newsletter-input form-control">
                    <button id="subscribe" class="button_mini zoa-btn" type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock newsletter %}

