{% extends 'main/base_template.html' %}
{% load mainutils %}
{% block title %}{{product.brand}} {{product.name}}{% endblock %}
{% block content %}
<div class="container container-content">
    <div class="single-product-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="flex product-img-slide">
                    <div class="product-images">
                        {% if product.sale %}
                        <div class="ribbon zoa-sale"><span>-{{product.sale}}%</span></div>
                        {% endif %} 
                        
                        <div class="main-img js-product-slider">
                            {% for photo in product.photoList %}
                                <img src="{{photo.photo.url}}" alt="{{photo.photo.title}}" class="img-responsive">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="multiple-img-list-ver2 js-click-product">        
                        {% for photo in product.photoList %}
                            <div class="product-col">
                                <div class="img">
                                    <img src="{{photo.photo.url}}" alt="{{photo.photo.title}}" class="img-responsive">
                                </div>       
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single-product-info product-info product-grid-v2">
                    <h3 class="product-title"><a href="/{{product.id}}/detail">{{product.brand}} {{product.name}}</a></h3>
                    <div class="product-price">
                        {% if product.sale %}
                        <span class="old thin">{{product.price}} BYN</span>
                        <span>{{product.new_price}} BYN</span>
                        {% else %} 
                        <span>{{product.price}} BYN</span>
                        {% endif %}
                    </div>
                    
                    <div class="flex product-rating">
                        <div class="group-star">
                            <span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                        </div>
                        <div class="number-rating">( 02 reviews )</div>
                    </div>
                    {% if product.shortdescription %}
                    <div class="short-desc">
                        <p class="product-desc">{{product.shortdescription}}</p>
                    </div>
                    {% endif %}
                    <!-- <div class="color-group">
                        <label>Color :</label>
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle active yellow"></a>
                        <a href="#" class="circle white"></a>
                    </div> -->
                    
                    <div class="product-size">
                        <div class="size-group">
                            <label>{{option.name}} :</label>
                            <select class="single-option-selector" name="option_id" form="order">
                                {% for opt in option.sizes %}
                                <option value="{{opt.id}}" >{{opt.value}} ({{opt.count}} шт.)</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    
                    <div class="product-size">
                            <label>Цвет :</label>
                                {% for variation in variations %}
                                <a href="{{variation.url}}">{{variation.color.name}}</a>
                                {% endfor %}
                    </div>
                    
                    <form id="order" action="" method="POST">
                    {% csrf_token %}
                    
                    <div class="single-product-button-group">
                        <div class="flex align-items-center element-button">
                            <div class="zoa-qtt">
                                <button type="button" class="quantity-left-minus btn btn-number js-minus" data-type="minus" data-field="">
                                </button>
                                <input type="text" name="number" value="1" class="product_quantity_number js-number">
                                <button type="button" class="quantity-right-plus btn btn-number js-plus" data-type="plus" data-field="">
                                </button>
                            </div>
                                <input type="hidden" name="pk" value="{{product.id}}">
                                <input type="submit" id="abc" class="zoa-btn zoa-addcart" value="Добвить в корзину">
                                
                        </div>
                        <a href="" class="btn-wishlist">+ Нравится</a>
                    </div>
                    </form>
                    <div class="product-tags">
                        <div class="element-tag">
                            <label>Артикул :</label>
                            <span>{{product.sku}}</span>
                        </div>
                        <div class="element-tag">
                            <label>Категории :</label>
                            <a href="">{{product.category}}</a>
                        </div>
                        <div class="element-tag">
                            <label>Тэги :</label>
                            <a href="#">Back,</a>
                            <a href="#">Blue,</a>
                            <a href="#">new,</a>
                            <a href="#">£0.00 - £150.00</a>
                        </div>
                    </div>
                    <div class="product-social">
                        <label>Поделиться +</label>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-tab bd-bottom">
        <ul class="tabs text-center">
            <li><a data-toggle="pill" href="#desc">Описание</a></li>
            <li class="active"><a data-toggle="pill" href="#review">Отзывы <span class="bereview-numr">{{number_of_comments}}</span></a></li>
        </ul>
        <div class="tab-content">
            <div id="desc" class="tab-pane fade in ">
                <div class="content-desc text-center">
                        <p>{{product.description}}</p>
                </div>
            </div>
            <div id="review" class="tab-pane fade in active ">
                <ul class="review-content">
                    {% for comment in comments %}
                    <li class="element-review">
                        <p class="r-name">{{comment.user}}</p>
                        <p class="r-date">{{comment.pub_date}}</p>
                        <div class="rating-star">
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" name="rating" value="1">
                                    <input type="radio" class="rating__item" name="rating" value="2">
                                    <input type="radio" class="rating__item" name="rating" value="3">
                                    <input type="radio" class="rating__item" name="rating" value="4">
                                    <input type="radio" class="rating__item" name="rating" value="5">
                                </div>
                            </div>
                            <div class="rating__value">{{comment.rate}}</div>
                            {{form.rate}}
                        </div>
                        <p class="r-desc">
                            {{comment.text}}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                <div class="review-form">
                    <div id="msg-place"></div>
                    <form action="" method="POST">
                        
                        {% csrf_token %}
                        <h3 class="review-heading">Оценка</h3>
                        <div class="rating-star not-static">
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" name="rating" value="1">
                                    <input type="radio" class="rating__item" name="rating" value="2">
                                    <input type="radio" class="rating__item" name="rating" value="3">
                                    <input type="radio" class="rating__item" name="rating" value="4">
                                    <input type="radio" class="rating__item" name="rating" value="5">
                                </div>
                            </div>
                            <div class="rating__value">5</div>
                            {{form.rate.errors}}
                            {{form.rate}}
                        </div>
                        <div class="cmt-form">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{form.comment.errors}}
                                            {{form.comment}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="zoa-btn">
                                        Отправить
                                    </button>
                                </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %} 
    <script>
        function goTo(url) {
            console.log(url);
            window.location.replace(url);
        }
    </script>
{% endblock scripts %}