{% extends 'main/base_template.html' %}
{% load mainutils %}

{% block content %}
<div class="container container-content">
    <div class="single-product-detail">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="flex product-img-slide">
                    <div class="product-images">
                        {% if productDetail.sale %}
                        <div class="ribbon zoa-sale"><span>-{{productDetail.sale}}%</span></div>
                        {% endif %} 
                        
                        <div class="main-img js-product-slider">
                            {% for photo in productDetail.photoList %}
                                    {% if photo.photoBin %}
                                    <img src="{{photo.photoBin.url}}" alt="images" class="img-responsive">
                                    {% elif photo.photoUrl %}
                                    <img src="{{photo.photoUrl}}" alt="images" class="img-responsive">
                                    {% else %}
                                    <img src="/media/images/no_img.jpg" alt="images" class="img-responsive">
                                    {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="multiple-img-list-ver2 js-click-product">        
                        {% for photo in productDetail.photoList %}
                            <div class="product-col">
                                <div class="img">
                                    {% if photo.photoBin %}
                                    <img src="{{photo.photoBin.url}}" alt="images" class="img-responsive">
                                    {% elif photo.photoUrl %}
                                    <img src="{{photo.photoUrl}}" alt="images" class="img-responsive">
                                    {% else %}
                                    <img src="/media/images/no_img.jpg" alt="images" class="img-responsive">
                                    {% endif %}
                                </div>       
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="single-product-info product-info product-grid-v2">
                    <h3 class="product-title"><a href="/{{productDetail.id}}/detail">{{productDetail.brand}} {{productDetail.name}}</a></h3>
                    <div class="product-price">
                        {% if productDetail.sale %}
                        <span class="old thin">${{productDetail.price}}</span>
                        <span>${{productDetail.price|calcprice:productDetail.sale}}</span>
                        {% else %} 
                        <span>${{productDetail.price}}</span>
                        {% endif %}
                    </div>
                    <div class="flex product-rating">
                        <div class="group-star">
                            <span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                        </div>
                        <div class="number-rating">( 02 reviews )</div>
                    </div>
                    {% if productDetail.shortdescription %}
                    <div class="short-desc">
                        <p class="product-desc">{{productDetail.shortdescription}}</p>
                    </div>
                    {% endif %}
                    <!-- <div class="color-group">
                        <label>Color :</label>
                        <a href="#" class="circle gray"></a>
                        <a href="#" class="circle active yellow"></a>
                        <a href="#" class="circle white"></a>
                    </div> -->
                    {% for attribute in simpleAttributes %}
                    <div class="product-size">
                        <div class="size-group">
                            <label>{{attribute.name}} :</label>
                            <select class="single-option-selector" data-option="option1" id="productSelect-option-0">
                                {% for value in attribute.values %}
                                <option value="{{value}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <a href="" class="size-guide">Size guide</a>
                    </div>
                    {% endfor %}
                    {% for attribute in variableAttributes %}
                    <div class="product-size">
                            <label>{{attribute.name}} :</label>
                                {% for var in attribute.values %}
                                <a href="/{{var.id}}/detail">{{var.value}}</a>
                                {% endfor %}

                    </div>
                    {% endfor %}
                    <div class="single-product-button-group">
                        <div class="flex align-items-center element-button">
                            <div class="zoa-qtt">
                                <button type="button" class="quantity-left-minus btn btn-number js-minus" data-type="minus" data-field="">
                                </button>
                                <input type="text" name="number" value="1" class="product_quantity_number js-number">
                                <button type="button" class="quantity-right-plus btn btn-number js-plus" data-type="plus" data-field="">
                                </button>
                            </div>
                            <a href="" class="zoa-btn zoa-addcart">
                                    <i class="zoa-icon-cart"></i>Добавить в корзину
                                </a>
                        </div>
                        <a href="" class="btn-wishlist">+ Add to wishlist</a>
                    </div>
                    <div class="product-tags">
                        <div class="element-tag">
                            <label>SKU :</label>
                            <span>{{productDetail.sku}}</span>
                        </div>
                        <div class="element-tag">
                            <label>Categories :</label>
                            <a href="">{{productDetail.category}}</a>
                        </div>
                        <div class="element-tag">
                            <label>Tags :</label>
                            <a href="#">Back,</a>
                            <a href="#">Blue,</a>
                            <a href="#">new,</a>
                            <a href="#">£0.00 - £150.00</a>
                        </div>
                    </div>
                    <div class="product-social">
                        <label>Share +</label>
                        <div class="social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-tab bd-bottom">
        <ul class="tabs text-center">
            <li><a data-toggle="pill" href="#desc">Description</a></li>
            <li class="active"><a data-toggle="pill" href="#review">Reviews <span class="review-number">2</span></a></li>
        </ul>
        <div class="tab-content">
            <div id="desc" class="tab-pane fade in ">
                <div class="content-desc text-center">
                        <p>{{productDetail.description}}</p>
                </div>
            </div>
            <div id="review" class="tab-pane fade in active ">
                <ul class="review-content">
                    <li class="element-review">
                        <p class="r-name">Felix Nguyen</p>
                        <p class="r-date">25, March 2018</p>
                        <div class="group-star">
                            <span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                        </div>
                        <p class="r-desc">
                            Free shipping on orders over 150€ within Europe and North America. Place your order today and receive it within 48 hours. And now, free and easy returns within Europe.
                        </p>
                    </li>
                    <li class="element-review">
                        <p class="r-name">Felix Nguyen</p>
                        <p class="r-date">25, March 2018</p>
                        <div class="group-star">
                            <span class="star star-5"></span>
                            <span class="star star-4"></span>
                            <span class="star star-3"></span>
                            <span class="star star-2"></span>
                            <span class="star star-1"></span>
                        </div>
                        <p class="r-desc">
                            Free shipping on orders over 150€ within Europe and North America. Place your order today and receive it within 48 hours. And now, free and easy returns within Europe.
                        </p>
                    </li>
                </ul>
                <div class="review-form">
                    <h3 class="review-heading">Your Rating</h3>
                    <div class="rating-star">
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                    </div>
                    <div class="cmt-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="name" class="form-control" name="comment[name]" value="" placeholder="Name *">
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" id="email" class="form-control" name="comment[email]" value="" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="message" class="form-control" name="comment[body]" rows="9" placeholder="Your reviews"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="zoa-btn">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}