<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
   
</head>
<body> 

    <h1>{{ product.name }}</h1>      
    {% for photo in product.productphoto_set.all %}
        {% if photo.photo.photoBin %}
        <img src="{{photo.photo.photoBin.url}}" alt="{{product.photo.photoName}}">
        {% elif photo_photo_fk.photoUrl %}
        <img src="{{photo.photo.photoUrl}}" alt="{{product.photo.photoName}}">
        {% else %}
        <img src="/media/images/no_img.jpg" alt="No image">
        {% endif %}
    {% endfor %}
            

        <h3>Описание</h3>
        
        <p style="color: lightblue">{{ product.brand.name }}</p>
        <p>{{ product.category.name }}</p>
        {% if product_sale_price %}
        <p>{{ product.sale_price }} $</p>
        <p><s>{{ product.reg_price }} $</s></p>
        {% else %}
        <p>{{ product.reg_price }} $</p>
        {% endif %}
        <h3>Атрибуты</h3>
        {% for attribute in category_attributes %} 
            <b>{{ attribute.title }}</b>
            <ul>
                {% for value in product_values %} 
                    {% if value.attribute_id == attribute.id %}
                    <li>{{value.value}}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        <hr>
        <!-- <script src="{% static 'main/slider.js' %}"></script>  -->
        
</body>
</html>